{% extends "bootstrap/base.html" %}
{% block title %}Weather Station Logs{% endblock %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Raspberry Pi Weather Station log</h1>
    </div>
    <div class="row">
        <table class="table">
        {% for reading in readings %}
            <tr><td>{{ reading }}</td></tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}